LOG_PATH=./test-logs/traefik.json

# S3 configuration
S3_BUCKET=your-s3-bucket-name
S3_PREFIX=traefik-logs
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=https://s3.amazonaws.com
